{% extends "users/layout.html" %}

{% block body %}


<h3>Seznam zákazníků:</h3>
<table>
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Věk</th>
        </tr>
    </thead>
    <tbody>
        {% for zakaznik in zakaznici %}
        <tr>
            <td>{{ zakaznik.jmeno }}</td>
            <td>{{ zakaznik.prijmeni }}</td>
            <td>{{ zakaznik.vek }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Seznam účtů:</h3>
<table>
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Typ účtu</th>
        </tr>
    </thead>
    <tbody>
        {% for ucet in ucty %}
        <tr>
            <td>{{ ucet.zakaznik.jmeno }}</td>
            <td>{{ ucet.zakaznik.prijmeni }}</td>
            <td>{{ ucet.get_typ_uctu_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Seznam transakcí:</h3>
<table>
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Typ</th>
            <th>Částka</th>
        </tr>
    </thead>
    <tbody>
        {% for transakce in transakce %}
        <tr>
            <td>{{ transakce.zakaznik.jmeno }}</td>
            <td>{{ transakce.zakaznik.prijmeni }}</td>
            <td>{{ transakce.get_typ_transakce_display }}</td>
            <td>{{ transakce.castka }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
